In [ ]:
import sys
!{sys.executable} -m pip install pandas scikit-learn matplotlib

In [2]:
import pandas as pd
from sklearn.ensemble import RandomForestRegressor

In [5]:
x = pd.read_csv('../data/game_data_v1.csv')
x.head(3)

,away_team,away_score,away_team_xwoba_diff,away_lineup_xwoba,away_team_xfip,away_starter_xfip,away_close_win_pct,away_run_diff,home_team,home_score,home_team_xwoba_diff,home_lineup_xwoba,home_team_xfip,home_starter_xfip,home_close_win_pct,home_run_diff
0,SF,5,-0.004667,0.330556,4.173333,3.540000,0.467569,5.333333,AZ,6,-0.004667,0.310407,4.096667,3.513333,0.525447,7.333333
1,CHC,3,0.020333,0.316259,3.736667,3.460000,0.570574,153.333333,STL,4,0.018667,0.313074,3.903333,3.573333,0.515096,81.666667
2,NYY,3,0.016000,0.325000,3.793333,3.446667,0.521706,80.666667,TB,7,-0.001000,0.312111,4.150000,3.256667,0.418651,-16.333333

In [6]:
y = x['away_score'] + x['home_score']
x = x - x['away_score'] - x['home_score']

In [7]:
x.head(3)

,0,1,2,3,4,5,6,7,8,9,...,away_team_xfip,away_team_xwoba_diff,home_close_win_pct,home_lineup_xwoba,home_run_diff,home_score,home_starter_xfip,home_team,home_team_xfip,home_team_xwoba_diff
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
model = RandomForestRegressor()
model.fit(x, y)